.animated {
  opacity: 0;

  &.anim-active {
    animation: moveUp 0.5s ease-in-out forwards;

    &--with-delay-200 {
      animation-delay: 0.2s;
    }

    &--with-delay-400 {
      animation-delay: 0.4s;
    }

    &--with-delay-600 {
      animation-delay: 0.6s;
    }

    &--with-delay-800 {
      animation-delay: 0.8s;
    }
  }
}

@keyframes moveUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
