html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  overflow-x: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.lock {
  overflow: hidden;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: "Geometria-Bold";
  font-display: swap;
  src: url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-BoldItalic";
  font-display: swap;
  src: url("../fonts/Geometria-BoldItalic.woff") format("woff"), url("../fonts/Geometria-BoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-ExtraBoldItalic";
  font-display: swap;
  src: url("../fonts/Geometria-ExtraBoldItalic.woff") format("woff"), url("../fonts/Geometria-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-ExtraBold";
  font-display: swap;
  src: url("../fonts/Geometria-ExtraBold.woff") format("woff"), url("../fonts/Geometria-ExtraBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-ExtraLight";
  font-display: swap;
  src: url("../fonts/Geometria-ExtraLight.woff") format("woff"), url("../fonts/Geometria-ExtraLight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-ExtraLightItalic";
  font-display: swap;
  src: url("../fonts/Geometria-ExtraLightItalic.woff") format("woff"), url("../fonts/Geometria-ExtraLightItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-HeavyItalic";
  font-display: swap;
  src: url("../fonts/Geometria-HeavyItalic.woff") format("woff"), url("../fonts/Geometria-HeavyItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Heavy";
  font-display: swap;
  src: url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Italic";
  font-display: swap;
  src: url("../fonts/Geometria-Italic.woff") format("woff"), url("../fonts/Geometria-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Light";
  font-display: swap;
  src: url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-LightItalic";
  font-display: swap;
  src: url("../fonts/Geometria-LightItalic.woff") format("woff"), url("../fonts/Geometria-LightItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Thin";
  font-display: swap;
  src: url("../fonts/Geometria-Thin.woff") format("woff"), url("../fonts/Geometria-Thin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-ThinItalic";
  font-display: swap;
  src: url("../fonts/Geometria-ThinItalic.woff") format("woff"), url("../fonts/Geometria-ThinItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Medium";
  font-display: swap;
  src: url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-MediumItalic";
  font-display: swap;
  src: url("../fonts/Geometria-MediumItalic.woff") format("woff"), url("../fonts/Geometria-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.anchor-nav {
  position: relative;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.anchor-nav__burger-button {
  position: absolute;
  top: -12.5px;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  background: #ffffff;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 1;
}

.anchor-nav__burger-button::before,
.anchor-nav__burger-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 10px;
  height: 1px;
  background: #000000;
  border-radius: 0.5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.anchor-nav__burger-button::before {
  -webkit-transform: translateX(-8.25px) rotate(45deg);
      -ms-transform: translateX(-8.25px) rotate(45deg);
          transform: translateX(-8.25px) rotate(45deg);
}

.anchor-nav__burger-button::after {
  -webkit-transform: translateX(-1.75px) rotate(-45deg);
      -ms-transform: translateX(-1.75px) rotate(-45deg);
          transform: translateX(-1.75px) rotate(-45deg);
}

.anchor-nav__burger-button--opened::before {
  -webkit-transform: translateX(-8.25px) rotate(-45deg);
      -ms-transform: translateX(-8.25px) rotate(-45deg);
          transform: translateX(-8.25px) rotate(-45deg);
}

.anchor-nav__burger-button--opened::after {
  -webkit-transform: translateX(-1.75px) rotate(45deg);
      -ms-transform: translateX(-1.75px) rotate(45deg);
          transform: translateX(-1.75px) rotate(45deg);
}

.anchor-nav__nav-list {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  background: #ffffff;
  -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transform: translateY(-50vh);
      -ms-transform: translateY(-50vh);
          transform: translateY(-50vh);
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.anchor-nav__nav-list--opened {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.anchor-nav__nav-item {
  margin: 15px 0;
  padding: 0;
}

.anchor-nav__link {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #212121;
  text-decoration: none;
}

.anchor-nav__link::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  right: 100%;
  display: block;
  height: 1px;
  background: #212121;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.anchor-nav__link:hover::before,
.anchor-nav__link:focus::before {
  right: 0;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #212121;
  z-index: 1;
}

.header__top-wrapper {
  margin: 0;
  padding: 15px 0 30px;
  width: 100%;
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #212121;
}

.header__logo {
  margin-left: 20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header__logo-icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.header__logo-text {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.header__contacts-list {
  margin: 15px 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__contacts-item {
  margin: 0;
  padding: 0;
}

.header__contacts-item:not(:first-child) {
  margin-top: 15px;
}

.header__contacts-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0 0 0 30px;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.header__contacts-link--phone::before,
.header__contacts-link--email::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
}

.header__contacts-link--phone::before {
  background: url("../img/svg/phone.svg") center no-repeat;
  background-size: cover;
}

.header__contacts-link--email::before {
  background: url("../img/svg/email.svg") center no-repeat;
  background-size: cover;
}

.header__contacts-link::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  right: 100%;
  display: block;
  height: 1px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__contacts-link:hover::after,
.header__contacts-link:focus::after {
  right: 0;
}

.header__bottom-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #ffffff;
}

.header__nav {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1160px;
}

.keyvisual {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #212121 url("../img/background.jpg") center/cover no-repeat;
}

.keyvisual__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 60px 0 70px;
  padding: 0 20px;
  width: 100%;
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.keyvisual__heading {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  max-width: 400px;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.keyvisual__desc {
  margin: 20px 0 0;
  padding: 0;
  display: block;
  max-width: 450px;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.keyvisual__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 0 0;
  padding: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  text-decoration: none;
  background: none;
  border-radius: 50px;
  border: 1px solid #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.keyvisual__link:hover,
.keyvisual__link:focus {
  background: #ffffff;
  color: #212121;
}

.keyvisual__list {
  margin: 50px 0 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-gap: 20px;
  list-style: none;
}

.keyvisual__item {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.keyvisual__service-link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 15px 7px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.keyvisual__service-link:hover,
.keyvisual__service-link:focus {
  color: #212121;
  background: #ffffff;
}

.keyvisual__service-link:active {
  background: #ffffff;
  border-color: #ffffff;
}

.about {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1160px;
}

.about__heading {
  margin: 25px 0 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 24px;
  color: #212121;
  text-align: center;
}

.about__list {
  margin: 25px 0 0;
  padding: 0;
  display: grid;
  grid-row-gap: 25px;
  width: 100%;
  list-style: none;
}

.about__item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item-text {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 60px 0 0;
  display: block;
  width: 100%;
  max-width: 200px;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
  text-align: center;
}

.about__item-text::before {
  content: '';
  position: absolute;
  top: 10px;
  left: calc(50% - 20px);
  display: block;
  width: 40px;
  height: 40px;
}

.about__item-text--camera-icon::before {
  background: url("../img/svg/photo.svg") center no-repeat;
  background-size: cover;
}

.about__item-text--geo-icon::before {
  background: url("../img/svg/gps.svg") center no-repeat;
  background-size: cover;
}

.about__item-text--man-icon::before {
  background: url("../img/svg/supervisor.svg") center no-repeat;
  background-size: cover;
}

.about__item-text--mail-icon::before {
  background: url("../img/svg/contact.svg") center no-repeat;
  background-size: cover;
}

.about__item-text--team-icon::before {
  background: url("../img/svg/state.svg") center no-repeat;
  background-size: cover;
}

.about__item-text--operator-icon::before {
  background: url("../img/svg/consulting.svg") center no-repeat;
  background-size: cover;
}

.services {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1160px;
}

.services__heading {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 24px;
  color: #212121;
}

.services__list {
  margin: 25px 0 0;
  padding: 0;
  display: grid;
  grid-row-gap: 25px;
  grid-auto-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  list-style: none;
}

.services__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  width: 100%;
  max-width: 280px;
  border: none;
  -webkit-box-shadow: 0 0px 15px rgba(21, 21, 21, 0.25);
          box-shadow: 0 0px 15px rgba(21, 21, 21, 0.25);
  border-radius: 10px;
  overflow: hidden;
}

.services__item-img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.services__item-img img {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: auto;
}

.services__item-inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  margin: 0;
  padding: 15px 10px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 220px;
}

.services__subheading {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: #212121;
}

.services__desc {
  margin: 20px 0 30px;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 25px;
  color: #212121;
}

.services__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: auto 0 0;
  padding: 6px 40px;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: normal;
  color: #212121;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #212121;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__link:hover,
.services__link:focus {
  background: #212121;
  color: #ffffff;
}

.services__price-wrapper {
  margin: auto 0 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__price-value {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  color: #212121;
}

.services__book-link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: auto 0 0;
  padding: 6px 20px;
  font-family: "Geometria", "helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: normal;
  text-decoration: none;
  color: #212121;
  border: 1px solid #212121;
  border-radius: 50px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__book-link:hover,
.services__book-link:focus {
  background: #212121;
  color: #ffffff;
}

.feedback-form {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.feedback-form__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  list-style: none;
}

.feedback-form__item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.feedback-form__item:not(:first-child) {
  margin-top: 25px;
}

.feedback-form__label {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback-form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0 0;
  padding: 6px 10px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 100%;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  border: none;
  border-radius: 5px;
  background: #ffffff;
}

.feedback-form__input--textarea {
  resize: vertical;
  min-height: 120px;
}

.feedback-form__submit-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 25px 0 0;
  padding: 10px 50px 9px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.feedback-form__submit-button:hover,
.feedback-form__submit-button:focus {
  background: #ffffff;
  color: #212121;
}

.guarantees {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.guarantees__heading {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.guarantees__list {
  margin: 20px 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
}

.guarantees__item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0 0 0 20px;
}

.guarantees__item:not(:first-child) {
  margin-top: 15px;
}

.guarantees__item::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: -5px;
  display: block;
  width: 15px;
  height: 15px;
  background: url("../img/svg/star-icon.svg") center no-repeat;
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

.guarantees__text {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback {
  margin: 0;
  padding: 0 0 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000 url("../img/call-back.jpg") center no-repeat;
  background-size: cover;
}

.feedback__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 25px 0 0;
  padding: 0 20px;
  width: 100%;
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.feedback__heading {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.feedback__form {
  margin: 25px 0 0;
  padding: 0;
}

.feedback__contact-info {
  margin: 35px 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.feedback__subheading {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  color: #ffffff;
}

.feedback__contact-info-list {
  margin: 25px 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  list-style: none;
}

.feedback__contact-info-item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__contact-info-item:not(:first-child) {
  margin-top: 35px;
}

.feedback__contact-title {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  color: #ffffff;
}

.feedback__contact-link {
  margin: 0 0 0 10px;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.feedback__social-list {
  margin: 35px 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.feedback__social-item {
  margin: 0;
  padding: 0;
}

.feedback__social-item:not(:first-child) {
  margin-left: 35px;
}

.feedback__social-link {
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.feedback__social-link:hover,
.feedback__social-link:focus {
  -webkit-box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
}

.feedback__guarantees {
  margin: 0;
}

.city-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  width: 100%;
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.city-info__heading {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 24px;
  color: #212121;
  text-align: center;
}

.city-info__inner {
  margin: 15px 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.city-info__city-map {
  display: block;
  margin: 0;
  padding: 0;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 500px;
  -webkit-box-shadow: 0px 0px 20px rgba(21, 21, 21, 0.3);
          box-shadow: 0px 0px 20px rgba(21, 21, 21, 0.3);
}

.city-info__city-map img {
  display: block;
  width: 100%;
  height: auto;
}

.city-info__city-desc {
  margin: 20px 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 500px;
}

.city-info__desc-list {
  margin: 0;
  padding: 0;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  max-width: 500px;
}

.city-info__desc-item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.city-info__desc-item:not(:first-child) {
  margin-top: 15px;
}

.city-info__desc-term {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  color: #212121;
}

.city-info__desc-def {
  margin: 0;
  padding: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  color: #212121;
}

.city-info__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px 0 0;
  padding: 10px 50px;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  color: #212121;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #212121;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.city-info__link:hover,
.city-info__link:focus {
  background: #212121;
  color: #ffffff;
}

.price-table {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  width: 100%;
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.price-table__heading {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #212121;
}

.price-table__inner {
  margin: 20px 0 0;
  padding: 0;
  width: 100%;
  overflow-x: scroll;
  -webkit-box-shadow: 0 5px 15px 10px #dbdbdb;
          box-shadow: 0 5px 15px 10px #dbdbdb;
}

.price-table__table {
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}

.price-table__table-heading {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 10px;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  background: #212121;
}

.price-table__row {
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.price-table__row:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

.price-table__cell {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 10px;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  color: #212121;
}

.price-table__cell:not(:first-child) {
  border-left: 1px solid #dbdbdb;
}

.creation-steps {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1160px;
}

.creation-steps__heading {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 24px;
  color: #212121;
}

.creation-steps__list {
  margin: 50px 0 0;
  padding: 0;
  display: grid;
  grid-gap: 30px;
  width: 100%;
  list-style: none;
}

.creation-steps__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 30px;
  -webkit-box-shadow: 0 5px 15px 10px #dbdbdb;
          box-shadow: 0 5px 15px 10px #dbdbdb;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.creation-steps__item:hover {
  cursor: pointer;
  -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
          transform: translateY(-8px);
}

.creation-steps__step-number {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0 0 10px;
  width: 100%;
  min-height: 50px;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 42px;
  line-height: 42px;
  color: #212121;
}

.creation-steps__step-number::before {
  content: "";
  position: absolute;
  top: 0;
  left: 45px;
  display: block;
  width: 50px;
  height: 50px;
}

.creation-steps__step-number--analytics-icon::before {
  background: url("../img/svg/analytics.svg") center/cover no-repeat;
}

.creation-steps__step-number--offer-icon::before {
  background: url("../img/svg/offer.svg") center/cover no-repeat;
}

.creation-steps__step-number--artist-icon::before {
  background: url("../img/svg/artist.svg") center/cover no-repeat;
}

.creation-steps__step-number--prototype-icon::before {
  background: url("../img/svg/prototype.svg") center/cover no-repeat;
}

.creation-steps__step-number--creativity-icon::before {
  background: url("../img/svg/creativity.svg") center/cover no-repeat;
}

.creation-steps__step-number--typewriter-icon::before {
  background: url("../img/svg/typewriter.svg") center/cover no-repeat;
}

.creation-steps__step-number::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #212121;
  border-radius: 1px;
}

.creation-steps__step-text {
  margin: 10px 0 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  color: #212121;
}

.docs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1160px;
}

.docs__heading {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 24px;
  color: #212121;
}

.docs__list {
  margin: 50px 0 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.docs__item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 70px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 450px;
}

.docs__item:not(:first-child) {
  margin-top: 30px;
}

.docs__item::before,
.docs__item::after {
  content: "";
  position: absolute;
  top: 25px;
  display: block;
  width: calc(50% - 50px);
  height: 1px;
  background: #000000;
}

.docs__item::before {
  left: 0;
}

.docs__item::after {
  right: 0;
}

.docs__title {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.docs__title::before {
  content: "";
  position: absolute;
  top: -70px;
  left: calc(50% - 25px);
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/svg/docs-icon.svg") center no-repeat;
}

.docs__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px 0 0;
  padding: 5px 26px;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  border: 1px solid #212121;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.docs__link:hover,
.docs__link:focus {
  color: #ffffff;
  background: #212121;
}

.main-content {
  margin: 143px 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #ffffff;
}

.main-content__keyvisual {
  margin: 0;
  padding: 0;
  scroll-margin-top: 145px;
}

.main-content__about {
  margin: 0;
  padding: 0;
  scroll-margin-top: 165px;
}

.main-content__services {
  margin: 50px 0 0;
  padding: 0 20px;
  scroll-margin-top: 165px;
}

.main-content__feedback {
  margin: 50px 0 0;
  scroll-margin-top: 135px;
}

.main-content__city-info {
  margin: 25px 0 0;
}

.main-content__price-table {
  margin: 20px 0 0;
}

.main-content__creation-steps {
  margin: 25px 0 0;
}

.main-content__docs {
  margin: 50px 0 0;
}

.footer {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #212121;
}

.footer__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 20px 20px 30px;
  width: 100%;
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin-left: 20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer__logo-icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.footer__logo-text {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.footer__social-list {
  margin: 30px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: 30px 30px;
  grid-column-gap: 25px;
  list-style: none;
}

.footer__social-item {
  margin: 0;
  padding: 0;
}

.footer__social-link {
  margin: 0;
  padding: 0;
}

.footer__social-link:hover img,
.footer__social-link:focus img {
  -webkit-filter: drop-shadow(0 0 8px #ffffff);
          filter: drop-shadow(0 0 8px #ffffff);
}

.footer__social-icon {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
}

.footer__social-icon img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__contacts-list {
  margin: 30px 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.footer__contacts-item {
  margin: 0;
  padding: 0;
}

.footer__contacts-item:not(:first-child) {
  margin-top: 15px;
}

.footer__contacts-link {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Geometria", "helvetica", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.footer__contacts-link::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  right: 100%;
  display: block;
  height: 1px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__contacts-link:hover::after,
.footer__contacts-link:focus::after {
  right: 0;
}

.animated {
  opacity: 0;
}

.animated.anim-active {
  -webkit-animation: moveUp 0.5s ease-in-out forwards;
          animation: moveUp 0.5s ease-in-out forwards;
}

.animated.anim-active--with-delay-200 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.animated.anim-active--with-delay-400 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animated.anim-active--with-delay-600 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.animated.anim-active--with-delay-800 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes moveUp {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 425px) {
  .city-info__desc-term {
    font-size: 14px;
    line-height: 18px;
  }

  .city-info__desc-def {
    font-size: 14px;
    line-height: 18px;
  }

  .city-info__link {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (min-width: 540px) {
  .creation-steps__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .anchor-nav__burger-button {
    display: none;
  }

  .anchor-nav__nav-list {
    position: static;
    margin: 0;
    padding: 0 0 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    z-index: 0;
  }

  .anchor-nav__nav-item {
    margin: 0 40px 0 0;
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header {
    -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  }

  .header__top-wrapper {
    padding: 16px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__contacts-list {
    margin: 0 20px 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__contacts-item:not(:first-child) {
    margin: 0 0 0 15px;
  }

  .header__contacts-link--phone::before,
  .header__contacts-link--email::before {
    width: 30px;
    height: 30px;
  }

  .header__contacts-link--phone,
  .header__contacts-link--email {
    padding: 0 0 0 40px;
    min-height: 30px;
    letter-spacing: 1px;
  }

  .keyvisual__heading {
    max-width: 700px;
    font-size: 48px;
    line-height: 60px;
  }

  .keyvisual__desc {
    max-width: 750px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

  .keyvisual__link {
    margin-top: 50px;
    font-size: 14px;
    line-height: 16px;
  }

  .keyvisual__list {
    grid-template-columns: 1fr 1fr;
  }

  .about__heading {
    font-size: 32px;
    line-height: 34px;
  }

  .about__list {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
  }

  .about__item-text {
    padding-top: 70px;
  }

  .about__item-text::before {
    width: 50px;
    height: 50px;
  }

  .services__heading {
    font-size: 32px;
    line-height: 34px;
  }

  .services__list {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }

  .services__item {
    max-width: 350px;
  }

  .services__item-inner {
    padding: 25px 20px 35px;
  }

  .services__subheading {
    font-size: 22px;
    line-height: 24px;
  }

  .services__desc {
    margin-top: 25px;
    font-size: 16px;
  }

  .services__link {
    padding: 8px 47px;
    font-size: 14px;
  }

  .services__price-value {
    font-size: 22px;
    line-height: 24px;
  }

  .services__book-link {
    padding: 8px 25px;
    font-size: 14px;
  }

  .feedback-form__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .feedback-form__item:not(:first-child) {
    margin-top: 0;
  }

  .feedback-form__item--textarea {
    grid-column: 1 / 4;
  }

  .feedback {
    padding-bottom: 80px;
  }

  .feedback__inner {
    margin-top: 50px;
  }

  .feedback__heading {
    font-size: 32px;
    line-height: 34px;
  }

  .feedback__form {
    margin-top: 50px;
  }

  .city-info__heading {
    font-size: 32px;
    line-height: 34px;
    text-align: left;
  }

  .city-info__inner {
    margin-top: 40px;
    display: grid;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    grid-template-columns: 400px 1fr;
    grid-column-gap: 20px;
  }

  .city-info__city-desc {
    margin-top: 0;
  }

  .city-info__desc-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .city-info__desc-def {
    margin-left: 15px;
  }

  .city-info__link {
    margin-top: auto;
  }

  .price-table__heading {
    font-size: 32px;
    line-height: 34px;
  }

  .price-table__inner {
    margin-top: 35px;
  }

  .price-table__table-heading {
    padding: 15px;
    font-size: 14px;
    line-height: 16px;
  }

  .price-table__cell {
    padding: 15px;
    font-size: 14px;
    line-height: 16px;
  }

  .docs__heading {
    font-size: 32px;
    line-height: 34px;
  }

  .docs__list {
    margin-top: 75px;
  }

  .docs__title {
    font-size: 20px;
    line-height: 30px;
  }

  .docs__link {
    margin-top: 25px;
    padding: 10px 52px;
  }

  .main-content {
    margin-top: 122px;
  }

  .main-content__keyvisual {
    scroll-margin-top: 122px;
  }

  .main-content__about {
    scroll-margin-top: 122px;
  }

  .main-content__services {
    margin-top: 100px;
    scroll-margin-top: 135px;
  }

  .main-content__price-table {
    margin-top: 30px;
  }

  .main-content__creation-steps {
    margin-top: 50px;
  }

  .main-content__docs {
    margin-top: 75px;
  }

  .footer__inner {
    padding: 30px 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__social-list {
    margin: 0;
  }

  .footer__contacts-list {
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .keyvisual__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .about__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .services__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .feedback-form {
    max-width: 700px;
  }

  .guarantees__list {
    margin-top: 30px;
  }

  .guarantees__item:not(:first-child) {
    margin-top: 25px;
  }

  .feedback__inner {
    display: grid;
    grid-template-columns: 1fr 360px;
    grid-column-gap: 50px;
  }

  .feedback__heading {
    grid-column: 1 / 3;
  }

  .city-info__inner {
    grid-template-columns: 500px 1fr;
    grid-column-gap: 40px;
  }

  .city-info__desc-term {
    font-size: 16px;
  }

  .city-info__desc-def {
    font-size: 16px;
  }

  .creation-steps__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .docs__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .docs__item:not(:first-child) {
    margin-top: 0;
  }

  .docs__title {
    margin-bottom: 15px;
  }

  .docs__link {
    margin-top: auto;
  }

  .main-content__feedback {
    margin-top: 100px;
    scroll-margin-top: 135px;
  }

  .main-content__city-info {
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin: 0;
  }

  .header__logo-text {
    font-size: 20px;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__logo-text {
    font-size: 20px;
  }
}

.webp .keyvisual { background: #212121 url(../img/background.webp) center/cover no-repeat; }

.webp .feedback { background: #000000 url(../img/call-back.webp) center no-repeat; }